<? require(ViewDir.'/header.html'); ?>

<div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="/">首页</a>
                    </li>

                    <li>
                        <a href="/user">后台设置</a>
                    </li>
                    <li class="active">修改密码</li>
                </ul><!-- .breadcrumb -->

                <!-- <div class="nav-search" id="nav-search">
                    <form class="form-search">
                        <span class="input-icon">
                            <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                            <i class="icon-search nav-search-icon"></i>
                        </span>
                    </form>
                </div> --><!-- #nav-search -->
            </div>

            <div class="page-content">
                <div class="page-header">
                    <h1>
                        修改密码
                        <small>
                            <i class="icon-double-angle-right"></i>
                            用于登录后台的密码
                        </small>
                    </h1>
                </div><!-- /.page-header -->

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                        <form id="form-changepass" class="form-horizontal" role="form" action="/user/changePass" method="POST">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 原密码 </label>

                                <div class="col-sm-9">
                                    <input type="password" id="changepass-oldpass" name="oldpass" placeholder="Password" class="col-xs-10 col-sm-5" />
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <span class="middle"></span>
                                    </span>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 新密码 </label>

                                <div class="col-sm-9">
                                    <input type="password" id="changepass-newpass" name="newpass" placeholder="Password" class="col-xs-10 col-sm-5" />
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <span class="middle"></span>
                                    </span>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 重复新密码 </label>

                                <div class="col-sm-9">
                                    <input type="password" id="changepass-newpass2" name="newpass2" placeholder="Password" class="col-xs-10 col-sm-5" />
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <span class="middle"></span>
                                    </span>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="clearfix form-actions">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-info" id="sub-changepass" type="button">
                                        <i class="icon-ok bigger-110"></i>
                                        提交
                                    </button>

                                    &nbsp; &nbsp; &nbsp;
                                    <button class="btn" type="reset">
                                        <i class="icon-undo bigger-110"></i>
                                        重置
                                    </button>
                                </div>
                            </div>

                        </div><!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->

        <div class="ace-settings-container" id="ace-settings-container">
            <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                <i class="icon-cog bigger-150"></i>
            </div>
         <? require(ViewDir.'/setting.html'); ?>
    </div><!-- /.main-container-inner -->

</div><!-- /.main-container -->

        <!-- inline scripts related to this page -->

        <script type="text/javascript">
            $(function() {
                $("#sub-changepass").click(function (){
                    var oldpass     = $("#changepass-oldpass").val();
                    var newpass     = $("#changepass-newpass").val();
                    var newpass2    = $("#changepass-newpass2").val();

                    if ( oldpass == '' ){
                        layer.tips('请输入原密码', '#changepass-oldpass');
                        return false;
                    }

                    if ( newpass == '' ){
                        layer.tips('请输入新密码', '#changepass-newpass');
                        return false;
                    }

                    if ( newpass2 == '' ){
                        layer.tips('请输入重复新密码', '#changepass-newpass2');
                        return false;
                    }

                    if ( newpass != newpass2 ){
                        layer.tips('新密码两次输入不同', '#changepass-newpass');
                        return false;
                    }

                    $("#form-changepass").submit();
                });
            });
        </script>

<? require(ViewDir.'/footer.html'); ?>