
<div class="sidebar" id="sidebar">
	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
	</script>

	<ul class="nav nav-list">
		<li <?if($_mod_=='index'){echo 'class="active"';}?> >
			<a href="/index/">
				<i class="icon-dashboard"></i>
				<span class="menu-text"> 控制台 </span>
			</a>
		</li>

		<li <?if(in_array($_mod_, array('member','buy'))){echo 'class="active open"';}?> >
			<a href="#" class="dropdown-toggle">
				<i class="icon-user-md"></i>
				<span class="menu-text"> 一只蝉用户 </span>

				<b class="arrow icon-angle-down"></b>
			</a>

			<ul class="submenu">
				<li <?if($_mod_=='member'){echo 'class="active"';}?> >
					<a href="/member/">
						<i class="icon-double-angle-right"></i>
						用户列表
					</a>
				</li>

				<!-- <li <?if($_mod_=='buy'){echo 'class="active"';}?> >
					<a href="/buy/">
						<i class="icon-double-angle-right"></i>
						求购列表
					</a>
				</li> -->
			</ul>
		</li>

		<li <?if(in_array($_mod_, array('user'))){echo 'class="active open"';}?>>
			<a href="#" class="dropdown-toggle">
				<i class="icon-gear"></i>
				<span class="menu-text"> 后台设置 </span>

				<b class="arrow icon-angle-down"></b>
			</a>

			<ul class="submenu">
				<li <?if( $_mod_=='user' && ($_act_=='index' || empty($_act_)) ){echo 'class="active"';}?> >
					<a href="/user">
						<i class="icon-double-angle-right"></i>
						操作员管理
					</a>
				</li>

				<li <?if($_mod_=='user' && $_act_=='changepass'){echo 'class="active"';}?> >
					<a href="/user/changePass">
						<i class="icon-double-angle-right"></i>
						修改密码
					</a>
				</li>
			</ul>
		</li>
	</ul><!-- /.nav-list -->

	<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
	</div>

	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
	</script>
</div>