<? require(ViewDir.'/header.html'); ?>

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/">首页</a>
            </li>

            <li>
                <a href="/member/">一只蝉用户</a>
            </li>
            <li class="active">用户列表</li>
        </ul><!-- .breadcrumb -->

    </div>

    <div class="page-content">
        <div class="page-header">
            <h1>
                用户列表
                <small>
                    <i class="icon-double-angle-right"></i>
                    查看、管理用户信息
                </small>
            </h1>
        </div> <!-- /.page-header-->
        
        <div class="form-group">
            <div class="row">            
                <form id="form-changepass" class="form-horizontal" role="form" action="/member/index/" method="GET">
                    
                    <div class="col-sm-3">
                        <label class="col-sm-3 control-label" for="form-field-2"> 用户ID: </label>
                        <div class="col-sm-9">
                            <input type="text" name="uid" <?if($search['uid']){echo 'value="'.$search['uid'].'"';}?> class="col-xs-10 col-sm-10" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="col-sm-3 control-label" for="form-field-2"> 手机号: </label>
                        <div class="col-sm-9">
                            <input type="text" name="mobile" <?if($search['mobile']){echo 'value="'.$search['mobile'].'"';}?> class="col-xs-10 col-sm-15" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                         <button class="btn btn-info" type="submit">
                            搜索
                        </button>
                    </div>
                </form>   
            </div>         
        </div>

        <div class="hr dotted"></div>

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                        <div class="table-header">
                            最新的用户注册信息
                        </div>

                        <div class="table-responsive">
                            <table id="user-list" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="center">
                                            <label>
                                                <input type="checkbox" class="ace" />
                                                <span class="lbl"></span>
                                            </label>
                                        </th>
                                        <th>ID</th>
                                        <th>手机号</th>
                                        <th class="hidden-480">登录次数</th>

                                        <th>
                                            <i class="icon-time bigger-110 hidden-480"></i>
                                            最近登录日期
                                        </th>
                                        <th class="hidden-480">Status</th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <?foreach ($list as $k => $v) {?>                                
                                    <tr>
                                        <td class="center">
                                            <label>
                                                <input type="checkbox" class="ace" />
                                                <span class="lbl"></span>
                                            </label>
                                        </td>

                                        <td>
                                            <?=$v['id']?>
                                        </td>
                                        <td><?=$v['mobile']?></td>
                                        <td class="hidden-480"><?=$v['loginNum']?></td>
                                        <td><?=$v['lastDate']==0?'-':date('Y-m-d H:i:s',$v['lastDate'])?></td>

                                        <td class="hidden-480">
                                            <?if ($v['isUserBuy']){?>
                                                <span class="label label-sm label-success">求购中(U)</span>
                                            <?}elseif ($v['isMobileBuy']){?>
                                                <span class="label label-sm label-success">求购中(M)</span>
                                            <?}?>
                                            <?if ($v['isUserSale']){?>
                                                <span class="label label-sm label-warning">出售中(U)</span>
                                            <?}elseif ($v['isMobileSale']){?>
                                                <span class="label label-sm label-warning">出售中(M)</span>
                                            <?}?>
                                        </td>

                                        <td>
                                            <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                                <a class="blue" href="/member/view/?uid=<?=$v['id']?>">
                                                    <i class="icon-zoom-in bigger-130"></i>
                                                </a>

                                               <!--  <a class="green" href="#">
                                                    <i class="icon-pencil bigger-130"></i>
                                                </a>

                                                <a class="red" href="#">
                                                    <i class="icon-trash bigger-130"></i>
                                                </a> -->
                                            </div>
                                        </td>
                                    </tr>
                                <?}?>
                                </tbody>
                            </table>
                        </div>
                            
                        <div class="row"><?=$pageBar?></div>

            </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- /.page-content -->

</div><!-- /.main-content -->

    <? require(ViewDir.'/setting.html'); ?>
                
    </div><!-- /.main-container-inner -->
    
</div><!-- /.main-container -->

<!-- page specific plugin scripts -->

<script src="<?=StaticDir?>js/jquery.dataTables.min.js"></script>
<script src="<?=StaticDir?>js/jquery.dataTables.bootstrap.js"></script>

<!-- inline scripts related to this page -->

<script type="text/javascript">
    jQuery(function($) {
        
        $('table th input:checkbox').on('click' , function(){
            var that = this;
            $(this).closest('table').find('tr > td:first-child input:checkbox')
            .each(function(){
                this.checked = that.checked;
                $(this).closest('tr').toggleClass('selected');
            });
                
        });

    })
</script>

<? require(ViewDir.'/footer.html'); ?>